<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
	<div id="header" style="background-color:#c2c2d6; text-align:center; border-bottom:1px SOLID BLACK; color:WHITE; line-height:50px; font-size:40px; padding:5px"; "height: 100%; overflow: hidden">
		<button onclick="location.href='https://www.google.com/'" type="button" style = "height: 40px; position:absolute; right: 420px; top: 6; font-size: 20px; background-color: #e7e7e7; border-width: thin; color: black; padding: 10px 26px; text-align: center; text-decoration: none; display: inline-block; cursor: pointer;">
         Training</button>
		<h1>Age People Chatbot</h1>
	</div>
	<div id= "content" style ="height: 100%; overflow: hidden">
    <div>
      <div id="chatbox">
		<div id="speech-bubble-bot">
			<p class="botText"><span>Hi! I'm Lucas.</span></p>
		</div>
      </div>
      <div id="userInput">
			<textarea rows="4" id="textInput" type="text" name="msg" placeholder="Enter Your Message...."></textarea>
			<input id="buttonInput" type="submit" value="Send">
      </div>
      <script>
        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<div id="speech-bubble-user"><p class="userText"><span>' + rawText + '</span></p></div>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/get", { msg: rawText }).done(function(data) {
            var botHtml = '<div id="speech-bubble-bot"><p class="botText"><span>' + data + '</span></p></div>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        $("#textInput").keypress(function(e) {
            if(e.which == 13) {
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
          getBotResponse();
        })
      </script>
    </div>
	</div>
  </body>
</html>