<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
	   <script> var determine = 0 </script>
	    <div id="header" style="background-color:#c2c2d6; text-align:center; border-bottom:1px SOLID BLACK; color:WHITE; line-height:50px; font-size:40px; padding:5px"; "height: 100%; overflow: hidden">
        <div style =  "display: inline-flex">
          <h1>Training</h1>
          <button onclick="location.href='/'" type="button" style = "height: 50px; top: 6; font-size: 30px; background-color: #e7e7e7; border-width: thin; color: black; padding: 10px 26px; text-align: center; text-decoration: none; display: inline-block; cursor: pointer;">
            Chatting</button>
        </div>
      </div>
	     <div id= "content" style ="height: 100%; overflow: hidden">
         <div>
           <div id="chatbox">
             <b class="smallBox">Explanation</b>
             <div id="speech-bubble-bot" style ="margin-left: 6%; margin-right: 15%">
   			         <p class="botText"><span>Input Your Data by Entering in the Message Box. Message will be Displayed as Conversation Chatting between 2 people</span></p>
   		       </div>
             <div id="speech-bubble-user" style ="margin-left: 15%; margin-right: 6%">
                <p class="userText"><span>Your Data inputed will be trained within 7 days</span></p>
             </div>
             <b class="smallBox">Data Entry</b>
           </div>
           <div id="userInput">
             <div style="display: inline-flex; width: 100%">
			          <textarea rows="4" id="textInput" type="text" name="msg" placeholder="Enter Your Message...." onkeyup="validate(this)"></textarea>
			             <input disabled id="buttonInput" type="submit" value="Send">
             </div>
           </div>
           <script>
           function validate(obj) {
             if (obj.value.length > 0) {
               document.getElementById("buttonInput").disabled = false; }
             else {
               document.getElementById("buttonInput").disabled = true; }
            }
	          function inputData(determine) {
               document.getElementById("buttonInput").disabled = true;
	             if (determine%2 == 1){
		           var rawText = $("#textInput").val();
                   var userHtml = '<div id="speech-bubble-bot" style ="margin-left: 6%; margin-right: 15%"><p class="botText"><span>' + rawText + '</span></p></div>';
                   $("#textInput").val("");
                   $("#chatbox").append(userHtml);
                   document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                   $.get("/getTrain", { msg: rawText })
		               }
	             if (determine%2 == 0){
		           var rawText = $("#textInput").val();
                   var userHtml = '<div id="speech-bubble-user" style ="margin-left: 6%; margin-right: 15%"><p class="userText"><span>' + rawText + '</span></p></div>';
                   $("#textInput").val("");
                   $("#chatbox").append(userHtml);
                   document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                   $.get("/getTrain", { msg: rawText })
		               }
        }
        $("#textInput").keypress(function(e) {
            if(e.which == 13) {
                e.preventDefault();
				        determine = determine + 1
                inputData(determine);
            }
        });
        $("#buttonInput").click(function() {
		      determine = determine + 1;
          inputData(determine);
        })
        </script>
      </div>
	   </div>
  </body>
</html>
